@font-face {
    font-family: "Gohu Mono";
    src: url("fonts/gohufont.ttf") format("truetype");
}

html {
    font-family: 'Gohu Mono', 'ＭＳ Ｐゴシック', Georgia, Arial, Helvetica, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    background-image: url("img/bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(255, 134, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-top: 1px dotted #000;
    margin-left: 0;
    margin-right: 0;
}

textarea {
    resize: none;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 0.5rem;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 0;
}

.icon-text p {
    margin: 0;
}

.small-text {
    font-size: 14px;
}

.unimportant-text {
    color: grey;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(255, 134, 0);
}

.message-container {
    display: flex;
    gap: 0.5em;
}

.message-container img {
    max-width: 100%;
    max-height: 350px;
}

.message-container p {
    margin: 0;
}

.message-prefix {
    display: flex;
    gap: 0.5em;
}

.container {    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 1rem;

    width: clamp(45ch, 100%, 120ch);
    min-height: 100vh;

    border-left: solid 1px grey;
    border-right: solid 1px grey;

    background-color: white;
}

.logo-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.notifications-button {
    margin-left: auto;
}

.nav-section {
    display: flex;
    flex-wrap: wrap;
}

.nav-section .icon-text {
    margin: 0px 4px 0px 4px;
}